@page "/about"
@using ResumeProject.Blazor.Services
@using ResumeProject.Domain.Entities
@inject ResumeService ResumeService

<PageTitle>About</PageTitle>

@if (ResumeService.ErrorMessage != null)
{
    <section class="resume-section" id="about">
        <div class="container-fluid p-0">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Jan Marvin
                    <span class="text-primary">Valencia</span>
                </h1>
                <div class="subheading mb-5">
                    Las Pinas, Philippines · (+63) 9152569208 ·
                    <a href="mailto:jmarvinvalencia@gmail.com">jmarvinvalencia@gmail.com</a>
                </div>
                <p class="lead mb-5">
                    I’m a Software Developer with over 12 years of experience specializing in .NET technologies, with strong proficiency in C#, SQL Server, and modern backend development. I’m a natural problem-solver who thrives on tackling complex technical challenges and improving system reliability.

                    Throughout my career, I’ve gained extensive experience in development support and on-call troubleshooting, resolving critical production issues, implementing effective workarounds, and delivering detailed root-cause analyses. I’ve also worked with legacy systems, refactoring and modernizing them while continuously learning and adapting to new technologies such as Blazor, Python, AWS, and Supabase, recently developing AI chatbot systems using RAG and REST APIs.

                    I’m passionate about building efficient, maintainable solutions and continuously growing as a developer through hands-on learning and innovation.
                </p>
                <div class="social-icons">
                    <a class="social-icon" href="https://www.linkedin.com/in/marvinvalencia/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="https://github.com/marvinvalencia"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
}
else if (ResumeService.Resume == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <section class="resume-section" id="about">
        <div class="container-fluid p-0">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    @ResumeService.Resume.FirstName
                    <span class="text-primary">@ResumeService.Resume.LastName</span>
                </h1>
                <div class="subheading mb-5">
                    @ResumeService.Resume.Address · @ResumeService.Resume.PhoneNumber ·
                    <a href="mailto:@ResumeService.Resume.Email">@ResumeService.Resume.Email</a>
                </div>
                <p class="lead mb-5">
                    @ResumeService.Resume.Summary
                </p>
                <div class="social-icons">
                    @foreach (var social in ResumeService.Resume.Links)
                    {
                        string iconClass = "";
                        switch (social.Name)
                        {
                            case "Linkedin":
                                iconClass = "fab fa-linkedin-in";
                                break;
                            case "Github":
                                iconClass = "fab fa-github";
                                break;
                        }

                        <a class="social-icon" href="@social.Url"><i class="@iconClass"></i></a>
                    }
                </div>
            </div>
        </div>
    </section>  
    <hr class="m-0" />
}

@code {

}
