@page "/about"
@using ResumeProject.Blazor.Services
@using ResumeProject.Domain.Entities
@inject ResumeService ResumeService

<PageTitle>About</PageTitle>
 
@if (resume == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <section class="resume-section" id="about">
        <div class="container-fluid p-0">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    @resume.FirstName
                    <span class="text-primary">@resume.LastName</span>
                </h1>
                <div class="subheading mb-5">
                    @resume.Address · @resume.PhoneNumber ·
                    <a href="mailto:@resume.Email">@resume.Email</a>
                </div>
                <p class="lead mb-5">
                    @resume.Summary
                </p>
                <div class="social-icons">
                    @foreach (var social in resume.Links)
                    {
                        string iconClass = "";
                        switch (social.Name)
                        {
                            case "Linkedin":
                                iconClass = "fab fa-linkedin-in";
                                break;
                            case "Github":
                                iconClass = "fab fa-github";
                                break;
                        }

                        <a class="social-icon" href="@social.Url"><i class="@iconClass"></i></a>
                    }
                </div>
            </div>
        </div>
    </section>  
    <hr class="m-0" />
}

@code {
    private Resume? resume;

    protected override async Task OnInitializedAsync()
    {
        resume = await ResumeService.GetResumeAsync(new Guid("883fe71e-c318-40d5-b00a-be1b129fb0c1"));
    }
}
