@page "/about"
@using ResumeProject.Blazor.Services
@using ResumeProject.Domain.Entities
@inject ResumeService ResumeService

<PageTitle>About</PageTitle>

@if (ResumeService.ErrorMessage != null)
{
    <section class="resume-section" id="about">
        <div class="container-fluid p-0">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Jan Marvin
                    <span class="text-primary">Valencia</span>
                </h1>
                <div class="subheading mb-5">
                    Las Pinas, Philippines · (+63) 9152569208 ·
                    <a href="mailto:jmarvinvalencia@gmail.com">jmarvinvalencia@gmail.com</a>
                </div>
                <p class="lead mb-5">
                    I am a Software Developer with 11 years of experience. My main tech stacks are primarily .NET focused.
                    I'm proficient in C#, SQL Server and .NET Technologies. I have always been a problem solver.
                    I was usually a DEV Support and was on call frequently in which I gained a lot of experience with client issues.
                    I've resolved numerous bugs and implemented various workarounds, providing thorough investigations and detailed analyses for each issue.
                    I worked previously with legacy codes but I'm a fast learner and can definitely adapt to new technologies as well.
                </p>
                <div class="social-icons">
                    <a class="social-icon" href="https://www.linkedin.com/in/marvinvalencia/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="https://github.com/marvinvalencia"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
}
else if (ResumeService.Resume == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <section class="resume-section" id="about">
        <div class="container-fluid p-0">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    @ResumeService.Resume.FirstName
                    <span class="text-primary">@ResumeService.Resume.LastName</span>
                </h1>
                <div class="subheading mb-5">
                    @ResumeService.Resume.Address · @ResumeService.Resume.PhoneNumber ·
                    <a href="mailto:@ResumeService.Resume.Email">@ResumeService.Resume.Email</a>
                </div>
                <p class="lead mb-5">
                    @ResumeService.Resume.Summary
                </p>
                <div class="social-icons">
                    @foreach (var social in ResumeService.Resume.Links)
                    {
                        string iconClass = "";
                        switch (social.Name)
                        {
                            case "Linkedin":
                                iconClass = "fab fa-linkedin-in";
                                break;
                            case "Github":
                                iconClass = "fab fa-github";
                                break;
                        }

                        <a class="social-icon" href="@social.Url"><i class="@iconClass"></i></a>
                    }
                </div>
            </div>
        </div>
    </section>  
    <hr class="m-0" />
}

@code {

}
